# -------- MYSQL DATABASE CONFIGURATION -------- #

MYSQL__DB_USERNAME=
MYSQL__DB_PASSWORD=
MYSQL__DB_HOSTNAME=127.0.0.1
MYSQL__DB_PORTNMBR=3306
MYSQL__DB_CHAR_SET=utf8mb4
MYSQL__DB_DATABASE=bank_with_high_functionalities

# -------- GMAIL CONFIGURATION ( SMTP ) -------- #

SMTP__MAIL_ADDRESS=
SMTP__APP_PASSWORD=
