name: lint-contributors

on:

  push:
    paths:
      - 'CONTRIBUTORS.md'
      
  pull_request:
    paths:
      - 'CONTRIBUTORS.md'
      
  workflow_dispatch:

jobs:
  lint:
  
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Run Contributors Linter
        run: node .github/scripts/lint-contributors.js
